# data analysis and manipulation
pandas
numpy

# viz
matplotlib
plotly
folium

# PDF processing
PyPDF2
pdfplumber

# U21 xlsx exports (pandas.read_excel)
openpyxl

# web app framework
shiny
shinywidgets
